<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tournament -->
      <package
            uri="http://mattsch.com/emf/examples/tournament"
            class="com.mattsch.emf.examples.tournament.TournamentPackage"
            genModel="model/Tournament.genmodel"/>
   </extension>

</plugin>
